nav{
    background-color: #313131;
}
.nav-item{
    transition: 0.3s;
    padding:5px 10px 5px 10px;
    display: flex;
}
.nav-item i{
    margin-top: 4px;
    padding-right: 10px;
    color: white;
    text-align: center;
}
.nav-item a{
    text-decoration: none;
    color: white;
}
.nav-item a:hover,.user-name a:hover{
    color: whitesmoke;
}
.nav-item:hover{
    border-radius: 15px;
    background-color: red;
}
.navbar-nav{
    margin-left: 10px;
}
.in-page{
    border-radius: 10px;
    background-color: #777777;
}
.usr{
    width: 65%;
}
.user-name{
    display: flex;
    width: 20%;
    margin-left: 75%;
}
.user-name i{
    color: white;
    margin-top: 3px;
    padding-right: 10px;
}
.user-name a{
    text-decoration: none;
    color: white;
}
.send{
    width: 100%;
}
.send input{
    padding: 11px;
    width: 85%;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 0;
    
}
.send i{
    font-size: 30px;
    color: greenyellow;
    transition: 0.2s;
}
.send button{
    background-color: white;
    border: none;
    box-sizing: border-box;
}
textarea:focus, input:focus{
    outline: none;
}
.send i:hover{
    transform: scale(1.7);
}
.long-send{
    margin-top: 93vh;

}
.long-send a{
    z-index: 4;
}

/*Origin*/

.origin{
    width:100%;
    margin-top: 60px;
    height: 83vh;
    overflow-y:scroll;
}
.origin-mes{
    width: 50%;
    height: 80px;
    margin-top:20px;
    margin-left: 25%;
}
.mes{
        display: flex;

}
.mes p{
    color:white;
}
.mes-username{
    padding: 10px;
    margin: 0;
    border-radius: 0 10px 0 0;
    background-color: #8D8D8D;
}

.mes-message{
    padding: 10px;
    padding-right: 30px;
    border-radius: 0 10px 10px 10px;
    background-color: #C9C9C9;
    padding-bottom: 10px;
}
.mes-short{
    padding-right: 60px;
}